section {
  border: 5px solid rgba(131, 6, 120, 0.37);
  margin-top: 10px;
  padding: 10px;
  border-radius: 3cap;
}
label {
  margin-top: 5px;
}
h3 {
  color: rgba(0, 0, 0, 0.719);
  background-color: rgb(0, 255, 213);
  padding: 5px;
  border-radius: 5cap;
  text-align: center;
}
h4 {
  margin-top: 1px;
  margin-bottom: 2px;
  font-style: arial;
  font-weight: normal;
  color: rgb(0, 0, 0);
}
button {
  margin-top: 10px;
  background-color: rgb(0, 255, 213);
  color: rgb(0, 0, 0);
  border-radius: 1cap;
  padding: 5px;
}
input {
  width: 100px;
}
table,
th,
td {
  border: 5px solid rgb(70, 2, 38);
  text-align: center;
}
#disfrazForm {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 250px;
}
#mainForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.colCurrency {
  text-align: right;
  padding-left: 10px;
}
.colNumber {
  column-width: 50px;
}
.divSalida {
  display: flex;
  flex-direction: column;
}
