section {
  border: 3px solid rgb(255, 0, 98);
  margin-top: 10px;
  padding: 10px;
  border-radius: 3cap;
}
label {
  margin-top: 5px;
}
h3 {
  color: white;
  background-color: rgb(223, 94, 255);
  padding: 3px;
  border-radius: 5cap;
  text-align: center;
}
h4 {
  margin-top: 1px;
  margin-bottom: 0px;
  font-style: italic;
  font-weight: normal;
  color: seagreen;
}
button {
  margin-top: 10px;
  background-color: rgb(222, 37, 247);
  color: white;
  border-radius: 1cap;
  padding: 5px;
}
input {
  width: 100px;
}
table,
th,
td {
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
}
#promocionForm {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 250px;
}
#mainForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.colCurrency {
  text-align: right;
  padding-left: 10px;
}
.colNumber {
  column-width: 50px;
}
.divSalida {
  display: flex;
  flex-direction: column;
}
